.DS_Store
ARDroneLib/Soft/Build/targets_versions/
ARDroneLib/Soft/Build/temporary_file
ARDroneLib/Soft/Common/generated_custom.h
ControlEngine/iPhone/ARDroneEngine.xcodeproj/project.xcworkspace/
ControlEngine/iPhone/ARDroneEngine.xcodeproj/xcuserdata/
ControlEngine/iPhone/build/
ControlEngine/iPhone/Debug/
Examples/iPhone/FreeFlight/Debug/
Examples/iPhone/FreeFlight/FreeFlight.xcodeproj/project.xcworkspace/
Examples/iPhone/FreeFlight/FreeFlight.xcodeproj/xcuserdata/
Examples/iPhone/FreeFlight/build/
Docs/html/
Docs/latex/

